Repository rbardini/storybook-addon-playroom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{*.js,*.tsx,bin/*}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml}": "prettier --write"
}

Add format-check step to main workflow
  .github/workflows/main.yml
Due: prettier --write

Format all files
  .babelrc
  .eslintrc
  README.md
  example/.eslintrc
  src/Panel.tsx
  src/generateSnippets.tsx
  src/index.tsx
  src/preset/index.tsx
  src/register.tsx
  src/utils.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

style(prettier): setup Prettier and format all files (#21)
  .babelrc
  .eslintrc
  .github/workflows/main.yml
  .lintstagedrc
  .prettierrc
  README.md
  example/.eslintrc
  package-lock.json
  package.json
  src/Panel.tsx
  src/generateSnippets.tsx
  src/index.tsx
  src/preset/index.tsx
  src/register.tsx
  src/utils.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

ci(workflow): run main workflow on pull requests
  .github/workflows/main.yml
Due: prettier --write

docs(example): update example brand and deps
  example/.storybook/main.js
  example/.storybook/manager.js
  example/package.json
Due: eslint --fix, prettier --write

build(release): use conventionalcommits preset
  .github/workflows/main.yml
  .releaserc.json
Due: prettier --write

docs(package): add addon catalog icon and metadata
  icon.png
  package.json
Due: prettier --write

docs(demo): use JS.ORG URL
  README.md
  example/package.json
  example/public/_redirects
Due: prettier --write

Update storybook-addon-playroom package.json for addon-catalog
  package.json
Due: prettier --write

docs(readme): add Playroom setup disclaimer
  README.md
Due: prettier --write

Update all dependencies but React
  .eslintrc
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc
  package-lock.json
  package.json
  src/generateSnippets.tsx
Due: eslint --fix, prettier --write

Replace loose Babel options with top-level assumptions
  .babelrc
Due: none

Add .js extension to sb-playroom bin
  bin/sb-playroom.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Lower minimum React version
  example/package.json
  package-lock.json
  package.json
Due: prettier --write

Fix preset
  preset.js
  src/preset/index.tsx
Due: eslint --fix, prettier --write

Replace Storybook core/server with core-common
  example/package.json
  package-lock.json
  package.json
  src/generateSnippets.tsx
  src/typings.d.ts
Due: eslint --fix, prettier --write

Update dependencies
  package-lock.json
  package.json
Due: prettier --write

Add separate ESM and CJS builds
  .babelrc
  .babelrc.js
  bin/sb-playroom
  package-lock.json
  package.json
  preset.js
  register.js
  tsconfig.json
Due: eslint --fix, prettier --write

Update example dependencies
  example/package.json
Due: prettier --write

Fix snippet generator
  bin/sb-playroom.js
Due: eslint --fix, prettier --write

Update setup-node GitHub Action
  .github/workflows/main.yml
Due: prettier --write

Update .gitignore
  .gitignore
Due: none

Remove @babel/plugin-proposal-class-properties dependency
  package-lock.json
  package.json
Due: prettier --write

Build ESM by default
  .babelrc.js
  package.json
Due: eslint --fix, prettier --write

feat(esm): include ESM and CommonJS builds (#27)
  .babelrc
  .babelrc.js
  .eslintrc
  .github/workflows/main.yml
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc
  bin/sb-playroom.js
  example/package.json
  package-lock.json
  package.json
  preset.js
  register.js
  src/generateSnippets.tsx
  src/preset/index.tsx
  src/typings.d.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  76fbf7dbd8b820ce1a50e6189c8b1a495a14d5db
Due: none

Add exports
  package.json
Due: prettier --write

Normalize paths
  package.json
Due: prettier --write

Add package quality check
  .github/workflows/main.yml
  package-lock.json
  package.json
Due: prettier --write

Sort package.json
  package.json
Due: prettier --write

fix(package): improve package quality score (#28)
  .github/workflows/main.yml
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  aeb6d503e89ae89e4d8025ff81b4bf812cf54e07
Due: none

fix(deps): update dependencies
  .husky/.gitignore
  example/package.json
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5b046d1dbdc0c2a441577b1481f9e4ba1e9e9cdd
Due: none

Fix peerDependencies versions
  package-lock.json
  package.json
Due: prettier --write

Add playroom dependency
  package-lock.json
  package.json
Due: prettier --write

Use Playroom's createUrl util
  src/index.tsx
Due: eslint --fix, prettier --write

Update playroom dependency in example
  example/package.json
Due: prettier --write

Remove base64-url dependency
  package-lock.json
  package.json
Due: prettier --write
