Repository rbardini/storybook-addon-playroom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "{*.js,*.tsx,bin/*}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml}": "prettier --write"
}

fix(url): use Playroom's newer compressed URL format (#30)
  example/package.json
  package-lock.json
  package.json
  src/index.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  e17fa8276f5868aacdc9957833c9ea53638b7fec
Due: none

fix(deps): update dependencies
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7510d88b611b00442ae43ffbd3a1f0974d32d9bf
Due: none

chore(deps): update dependencies
  .eslintrc
  bin/sb-playroom.js
  example/.storybook/main.js
  example/package.json
  package-lock.json
  package.json
  src/generateSnippets.tsx
  src/index.tsx
  src/typings.d.ts
  src/utils.tsx
Due: eslint --fix, prettier --write

docs(readme): fix dependencies badge
  README.md
Due: prettier --write

docs(readme): add jigsaw puzzle piece emoji
  README.md
Due: prettier --write

Notes added by 'git notes add'
  2ef98104191333eca30482b2013eedf84ceba122
Due: none

chore(deps): update dependencies
  .github/workflows/main.yml
  package-lock.json
  package.json
Due: prettier --write

build(example): define Node.js version
  .nvmrc
Due: none

fix(deps): update dependencies
  example/package.json
  package-lock.json
  package.json
  src/generateSnippets.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  546f90159e03ec18b98e109d841ae16b4718dc31
Due: none

Notes added by 'git notes add'
  1a83a79bd88d233b627d3021ab74f015bcc58201
Due: none

Notes added by 'git notes add'
  adeb64ab5a98054f849d8cdc50e4dda41e94dac5
Due: none

Use stories code without global decorators
  README.md
  src/utils.tsx
  src/withGlobals.ts
Due: eslint --fix, prettier --write

fix(deps): update dependencies
  package-lock.json
  package.json
  src/Tab.tsx
  src/manager.tsx
  tsup.config.ts
Due: eslint --fix, prettier --write

docs(readme): update demo URL
  README.md
Due: prettier --write

Refactor omitCodeDecorators to includeDecorators and make it default option
  README.md
  src/utils.tsx
  src/withGlobals.ts
Due: eslint --fix, prettier --write

feat(code)!: exclude global decorators by default (#53)
  README.md
  src/utils.tsx
  src/withGlobals.ts
Due: eslint --fix, prettier --write

chore(dev): run Playroom from `start` command
  package.json
Due: prettier --write

ci(workflow): update action versions
  .github/workflows/main.yml
  .nvmrc
Due: prettier --write

Notes added by 'git notes add'
  50bb87aa9cb5e799855bcc15124ffec8de71f354
Due: none

use nvmrc as single source for node
  .github/workflows/main.yml
Due: prettier --write

ci(workflow): use `.nvmrc` as single source for node (#55)
  .github/workflows/main.yml
Due: prettier --write

Update dependencies and remove snippets generator
  .babelrc.js
  .github/workflows/main.yml
  .gitignore
  .husky/pre-commit
  .prettierrc.json
  .storybook/local-preset.js
  .storybook/main.ts
  README.md
  bin/sb-playroom.js
  manager.js
  package-lock.json
  package.json
  playroom.config.js
  src/Tab.tsx
  src/generateSnippets.ts
  src/manager.tsx
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  tsup.config.ts
Due: eslint --fix, prettier --write

Replace `useChannel` with `useGlobals`
  src/Tab.tsx
  src/manager.tsx
  src/utils.tsx
  src/withGlobals.ts
Due: eslint --fix, prettier --write

Update docs on how to hide Playroom tab
  README.md
Due: prettier --write

Don't minify Storybook production build
  .storybook/main.ts
  README.md
Due: prettier --write

feat(deps)!: migrate to Storybook 8.0 (#54)
  .babelrc.js
  .github/workflows/main.yml
  .gitignore
  .husky/pre-commit
  .prettierrc.json
  .storybook/local-preset.js
  .storybook/main.ts
  README.md
  bin/sb-playroom.js
  manager.js
  package-lock.json
  package.json
  playroom.config.js
  src/Tab.tsx
  src/generateSnippets.ts
  src/manager.tsx
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/utils.tsx
  src/withGlobals.ts
  tsup.config.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  c5608c022163e3834252caf1ddccd4605f08311f
Due: none

fix(code): check existence of global during tab creation
  src/Tab.tsx
Due: eslint --fix, prettier --write

fix(code): check existence of global during tab creation (#71)
  src/Tab.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  455846cbab4772b0be1d5ec335cd2bcd71b9f8a3
Due: none

feat(deps)!: migrate to Storybook 9.0
  .github/workflows/main.yml
  .nvmrc
  .storybook/local-preset.cjs
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  src/Tab.tsx
  src/manager.tsx
  src/preview.ts
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/utils.tsx
  src/withGlobals.ts
  tsconfig.json
  tsup.config.ts
Due: eslint --fix, prettier --write

feat(deps)!: migrate to Storybook 9.0 (#73)
  .github/workflows/main.yml
  .nvmrc
  .storybook/local-preset.cjs
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  src/Tab.tsx
  src/manager.tsx
  src/preview.ts
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/utils.tsx
  src/withGlobals.ts
  tsconfig.json
  tsup.config.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  cf0dfc7164b951b860e1fa4db983ad82e3cc9f2a
Due: none

fix(code): fix Docs page infinite re-render issue
  src/withGlobals.ts
Due: none
