Repository rbardini/storybook-addon-playroom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Hoist `story` variable for reuse
  src/withGlobals.ts
Due: none

Reuse `story` variable
  src/withGlobals.ts
Due: none

fix(code): skip when not in story view mode (#74)
  src/withGlobals.ts
Due: none

Notes added by 'git notes add'
  f01c0132a5c50f43d08ca5a0b881f1e7ce312743
Due: none

feat(deps)!: migrate to Storybook 10 (#78)
  .github/workflows/main.yml
  .storybook/local-preset.cjs
  .storybook/local-preset.ts
  .storybook/main.ts
  package-lock.json
  package.json
  src/index.ts
  tsconfig.json
  tsup.config.ts
Due: prettier --write

Notes added by 'git notes add'
  31e026f491c9adcbd5b32e24c8d847da82e66de4
Due: none

feat(manager): replace tab with toolbar button
  README.md
  icon.png
  package.json
  src/Logo.tsx
  src/Tab.tsx
  src/Tool.tsx
  src/constants.ts
  src/manager.tsx
Due: eslint --fix, prettier --write

feat(deps)!: migrate to Storybook 11
  .storybook/preview.ts
  README.md
  package-lock.json
  package.json
  src/stories/Button.stories.ts
  tsconfig.json
Due: prettier --write

feat(deps): update React, Vite and TypeScript
  package-lock.json
  package.json
Due: prettier --write

build(deps): migrate from tsup to tsdown
  package-lock.json
  package.json
  src/vite-env.d.ts
  tsconfig.json
  tsdown.config.ts
Due: prettier --write

chore(deps): update concurrently, lint-staged and prettier-plugin-packagejson
  .prettierrc.json
  package-lock.json
  package.json
Due: prettier --write

chore(deps): regenerate lockfile
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update GitHub actions
  .github/workflows/main.yml
Due: prettier --write

fix(build): bundle react-element-to-jsx-string
  tsdown.config.ts
Due: none

chore(deps): update react-element-to-jsx-string to v18
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: {*.js,*.tsx,bin/*}
  prettier --write: (any of: {*.js,*.tsx,bin/*}) or (any of: *.{json,md,yml})
